.background-scroll {
  background: url('https://www.mahardhi.com/prestashop/MT03/restora/themes/restora/assets/img/5a5d6b21599cde67b7a96e9eebcc97d7.jpg');
  animation: animate 18s linear infinite;
}
.background-scroll:hover {
  animation: animate 30s linear infinite;
}

.compo {
  padding: 3em 0;
}
.all-products-for-shipping {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container {
  width: 586px;
  height: 263px;
  overflow: hidden;
  margin: 20px 10px 20px 10px;
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://www.mahardhi.com/prestashop/MT03/restora/modules/mt_customhtml/img/banner-1.jpg);
  transition: 0.7s;
}
.image2-zoom {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://www.mahardhi.com/prestashop/MT03/restora/modules/mt_customhtml/img/banner-2.jpg);
  transition: 0.7s;
}
.container:hover .image {
  transform: scale(1.07);
  /* transition: all 600ms ease-out 0s; */
}
.container:hover .image2-zoom {
  transform: scale(1.07);
}

.text-over-zoom-div {
  z-index: 100;
  color: white;
  padding: 10% 10%;

  /* position: absolute;
  top: 10;
  bottom: 0;
  left: 30px;
  display: flex;
  align-items: center; */
}
.flex-zoom {
  display: flex;
  justify-content: center;
}
.wid-zoom {
  width: 80em;
  display: flex;
  gap: 20px;
}
.shop-now-btn {
  width: 140px;
  height: 40px;
  background-color: red;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}
.zoom-text {
  color: red;
}
.header-zoom {
  font-size: 30px;
  padding: 10px 0;
}
/* .image img {
  transition: all 600ms ease-out 0s;
} */

.fix-btn-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1920px 0;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .all-products-for-shipping {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
    justify-content: left;
  }
  .wid-zoom {
    display: block;
    width: 100%;
  }
  .container {
    width: 100%;

    margin: 0;
    padding: 1em;
  }
}
